.loginform{
	    float: left;
		background-color: ;
		height: 300px;
		width : 300px;
	}
    .btn{
        width :100px;
    }
    .div-one{
        align-content: center-right;
        padding: 20px;
        border: 2px solid black;
        border-radius: 15px;
        border : red;
        width : 300px;
        margin-top: 50px;
        margin-left: 200px;
        background-color: gray ;
        height: 400px;
        width : 900px;

    }

    .div-two{
        float: left;
        width : 500px;
        background-color: black;
        height: 300px;
    }
	body{
		background-image: url("paralax1.jpg");	
	}